.hal1 {
    position: relative;
    padding: 5;
}

.button {
    position: absolute;
}

.popupAnimation {
    display: none;
    position: relative;
    animation: Masuk .5s ease-in-out;
}

@keyframes Masuk {
    from {
        transform: scale(0.3);
    }

    to {
        transform: scale(1);
    }
}